h1
{
    text-align: center;
}
#outer
{
    height: 500px;
    width: 80%;
    background-color: azure;
    border: 2px solid black;
    margin: 10px auto;
    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    /* align-content: space-evenly; */
    /* flex: 2 2 100px; */
}
#V
{
    background-color: violet;
    height: 100px;
    width: 300px;
}
#I
{
    background-color: indigo;
    height: 100px;
    width: 300px;
}
#B
{
    background-color: blue;
    height: 100px;
    width: 400px;
}
#G
{
    background-color: green;
    height: 100px;
    width: 300px;
}
#Y
{
    background-color: yellow;
    height: 100px;
    width: 300px;
}
#O
{
    background-color: orange;
    height: 200px;
    width: 300px;
    /* font-size: 3em; */
}
#R
{
    background-color: red;
    height: 100px;
    width: 300px;
}
div
{
    text-align: center;
}